body {
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
}

h1 {
    font-size: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#size {
    padding-top: 10%;
}

#grid {
    background-color: blue;
    height: 500px;
    max-width: 800px;
    top: 50vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.btn {
    color: black;
    background-color: blanchedalmond;
}


/* Media Queries */

@media (min-width: 736px) {
    .btn:hover {
        background-color: yellow;
    }
}

@media (orientation: landscape) and (max-width: 736px)  { 
    #grid {
        background-color: yellow;
    }
    
    h1 {
        font-size: 25px;
    }
}

@media (orientation: portrait) and (max-width: 415px) {
    #grid {
        background-color: black;
    }

    h1 {
        font-size: 25px;
    }
}